body {
    margin: 0;
    padding: 0;
    background-color: #aaa;
    font-family: Tahoma;
}

#wrap {
    width: 80%;
    margin: 0 auto;
}

header, nav, section, footer {
    padding: 0;
    margin:0;
    background-color: #fff;
}
header img {
    width:100%;
}
nav, footer {
    background-color: #0EC8C7;
    text-align: center;
    color: white;
}

nav {
   
    text-align: center;
    font-size: x-large;
    padding: 13px;
}

nav ul {
    margin:0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover, aside a:hover {
    background-color: #900;
}

aside {
    background-color: #EC3632;
    width: 19%%;
    float: left;
}

aside li {
    list-style-type: none;
    margin: 10px 0;
}
aside li a {
    color: white;
    text-decoration: none;
}
h1 {
    font-size: 40px; 
}

article {
    background-color: #fff;
    width: 74%;
    float: right;
    padding: 1% 3%;
   
}
footer {
    color: black;
    padding: 20px;
    
}
footer li {
    display: inline; 
    margin: 10px 0; 
}

section {
    overflow: auto;
    padding: 0;
    margin:0;
    background-color: #EC3632;
}

.bird {
    float:right;
    width: 35%;
    margin: 0 0 2% 2%;
}

@media screen and (min-width:801px) and (max-width:1000px){
    
    nav {
        font-size: smaller;
    }
    body {
        background-color: coral;
    }
}

@media screen and (max-width:800px) {
    nav, aside {
        padding: 0;
    }
    
    #wrap {
        width: 100%;
    }
    
    body {
        background-color: white;
    }
    
    article, aside {
        float: none;
        width: 93.5%;
        margin: 0;
    }
    
    aside {
        width:100%;
    }
    
    nav a, aside a {
        display:block;
        width: 100%;
        text-align:center;
        padding: 20px 0;    
    }
    aside a {
        text-decoration: none;
        padding: 15px 0;
        font-size: larger;
    }
    nav ul, nav li, aside ul, aside li {
        margin: 0;
        padding: 0;
    }
    
    .bird {
        width:99%;
        float:none;
        margin:0;
    }
    
}
    